{% extends "base.html" %}
{% block content %}
<h1>{{ session_type }} Sessions</h1>

<form method="get">
  <label>Date:</label>
  <input type="date" name="date" value="{{ date }}">
  <button type="submit">Show</button>
</form>

<hr>

{% for session in sessions %}
  <div>
    <strong>{{ session.court.name }}</strong><br>
    {{ session.start_time }} - {{ session.end_time }}<br>

    <a href="{% url 'book_session_page' session.id %}"><button type="submit">Book now</button></a>
    
  </div>
  <hr>
{% empty %}
  <p>No available sessions for that date.</p>
{% endfor %}
{% endblock %}
