{% extends "base.html" %}
{% load static %}

{% block title %}{{ session_type }} Sessions | Derby Tennis{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bookings/session_list.css' %}">
{% endblock %}

{% block content %}

<div class="sessions-wrapper">
  <div class="sessions-inner">
    <h1>{{session_type}} Sessions</h1>

    <a href="{% url 'booking:booking' %}" class="session-back-btn">
      <- Go Back
    </a>
    <form method="get" class="session-filter">
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" value="{{ date }}">
      <button type="submit">Show Sessions</button>
    </form>

        <div class="sessions-grid">
      {% for court in courts %}
        <div class="court-column">
          <h2>{{ court.name }}</h2>

          {% for session in sessions %}
            {% if session.court == court %}
              <div class="session-card">
                

                {{ session.start_time|time:"H:i" }} - {{ session.end_time|time:"H:i" }}<br>

                {{ session.active_bookings }} / {{ session.court.max_players }} booked<br>

                <a href="{% url 'booking:book_session_page' session.id %}" class="booking-btn">
                  Book now
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% empty %}
        <p class="empty-sessions">No courts available.</p>
      {% endfor %}
    </div>

    {% if not sessions %}
      <p class="empty-sessions">No available sessions for that date.</p>
    {% endif %}
  </div>
</div>

{% endblock %}