{% extends "base.html" %}
{% load static %}

{% block title %}Create Post | Derby Tennis{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'social/create_post.css' %}">
{% endblock %}

{% block content %}

<div class="form-wrapper">
  <div class="form-card">
        
    <a href="{% url 'social_home' %}" class="back-btn">
    <- Go Back</a>

    <h1>Create Post</h1>

    <form method="post" class="styled-form">
      {% csrf_token %}
      
      <label for="title">Title</label>
      <input type="text" name="title" id="title" required>

      <label for="body">Body</label>
      <textarea name="body" id="body" required></textarea>

      <label for="post_type">Post Type</label>
      <select name="post_type" id="post_type">
        <option value="NEWS">News</option>
        <option value="QUESTION">Question</option>
        <option value="DISCUSSION">Discussion</option>
        <option value="OTHER">Other</option>
      </select>

      <button type="submit" class="primary-btn">
        Create Post
      </button>
    </form><br>

  </div>
</div>

{% endblock %}